# Virtual environment
env/
venv/
.venv/

# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.memo

# Django specific
*.log
*.pot
*.mo
*.sqlite3
media/ # User-uploaded media files
static_root/ # Collected static files from collectstatic

# IDE specific
.idea/ # PyCharm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store # macOS
Thumbs.db # Windows
ehthumbs.db # Windows
.directory # Linux

# Testing
.coverage
.tox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
*.env
